* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214;
  color: #c4c4cc;
  font-family: Mulish;

  padding: 72px 104px;

  display: grid;
  justify-content: center;
}

header h1 {
  color: #02799d;
  font-size: 58px;
  font-weight: 900;
}

p {
  color: #e1e1e6;
  font-size: 32px;
  font-weight: 600;
}

main {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(3, 370px);

  row-gap: 48px;
  column-gap: 60px;
}

.card {
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
  overflow: hidden;
}

.card h2 {
  color: #e1e1e6;
  font-size: 35px;
  font-weight: 900;
  padding: 24px 32px 0;
}

.card p {
  font-size: 20px;
  font-weight: 600;
  padding: 24px 32px 32px;
}
